* {
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background-color: #f5f3bd;
    margin-top: 0;
}

.navbar-brand {
    font-size: 25px;
    padding: 1rem;

}

.container-fluid {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgb(220, 236, 173);
    height: 150px;
    padding-top: 40px;
    margin-top: 25px;

}

main {
    margin-left: 50px;
    padding-top: auto;
    width: 75%;
    float: left;
}


aside {
    position: fixed;
    top: 86px;
    right: 0;
    height: 100%;
    border-left: 1px solid #ddd;
    padding: 20px;
    background-color: rgb(214, 231, 179);
}

aside h2 {
    border-bottom: 1px solid #706262;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}



.feeling-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;
    margin-right: 3rem;
    flex-direction: column;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 75%;
    float: right;
}

.feeling-search input {
    padding: 10px;
    font-size: 1.5rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.feeling-search button {
    margin-left: 10px;
    padding: 10px;
    font-size: 1.5rem;
    height: 55px;
}

.search-btn {
    display: flex;
}

h3 {
    color: black;
    text-align: center;
}

.randomiser {
    margin-top: 3rem;
}

.btn-success {
    margin-left: 40%;
    background-color: rgb(214, 231, 179);
    color: rgb(0, 0, 0);
    width:max-content;
}

#get-meal {
    margin-left: 6rem;
}
h3{
    padding-top: 20rem;
}

fieldset {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.diet-pref {
    width: 75%;
    float: right;
}

label {
    padding: 1.5rem;
}



@media (min-width: 609px) {
    .navbar-brand {
        font-size: 30px;
        /* Adjust the font size for smaller screens */
    }
}




.hide {
    display: none;
}

  /* favourite button style */
.recipies{
justify-content: center;
    right: 0vh;
    height: 3%;
    padding: 20px;
}

img{
    
    width: 550px;
    height: 500px;
    border-radius: 5%;

}

#main-content{

    margin-top: -13%;
 
    
}

#recipe-name{
    display: flex;
    justify-content: flex-start;

}

#recipeTop{
    display: flex;
    justify-content:flex-start ;
  
    
}

#ingredients{
    font-size: 25px;
    padding-top: 25px;
    padding-left: 15%;
        
}

#measure{
    font-size: 25px;
    padding-top: 25px;
    padding-left: 10%;
}

#instructionsTitle{
    display: flex;
    padding: auto;
    margin-top: -17%;
    justify-content: flex-start;
}
#instructions{

    display: flex;
    font-size: 25px;
    text-align: justify;
    margin-top: 28px;
    justify-content: flex-start;
}

